@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


main h1{
  color: azure;
  margin-top: 1rem;
  font-size: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: center;
  animation: skilltext 5s infinite;
}

.header {
  background-color: #20232a;
  padding: 20px 0;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/*
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  height: 80px;
}*/

#about{
  background-color: white;
  height: 100vh;
  padding: 3em;
  color: black;
  font-size: larger;
  display: flex;
}

.about-left h1,.about-right h1{
  color: #164B60;
}

.about-left{
  width: 60%;
  text-align: justify;
}

.about-right{
  width: 50%;
}



@keyframes skilltext {
  50% {text-shadow: 0px 0px 10px rgb(63, 230, 239);}
}

#skills ul{
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  
}


#work{
  width: 100%;
  margin: 0%;
  color: white;
  height:100%;
  
}

#work h1{
  color: white;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::-webkit-scrollbar{
  display: none;
}


#contact{
padding: 2em;
/*background-image:radial-gradient(circle at 100%,#5C469C ,#0C134F);*/
background-color:#B9EDDD;
height: 81vh;
}
#contact h1{
color: black;
}
#contact form{

  height: 30em;
  width: 50%;
}
nav ul {
  right: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav ul li {
  display:inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
background-color: #164B60;
 
  
}


.project {
  margin: 1em;
  margin-bottom: 5em;
  border: #e7d1ba solid;
padding: 1em;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}


form label {
  color: #164B60;;
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cont p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.cont {
/*  background-image: linear-gradient(to right,#ba1ff7 , #e9f00d);*/
background-color: #0e1024;
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 10s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#1ecd21;
}
.third div {
  background-color:#c10528;
}
.forth div{
  background-color: blueviolet;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  50% {margin-top: -17.24rem;}
  55% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}



/* Media Query for Responsive Design */
@media (max-width: 768px) {
  body{
    margin:0;
    padding: 0%;
    font-size: small;
  }
  header nav ul li {
    display: block;
    margin-bottom: 10px;
  }
  
  .cont {
    /*  background-image: linear-gradient(to right,#ba1ff7 , #e9f00d);*/
    background-color: #0e1024;
      font-size: 1.5rem;
      height: 100vh;
      display: flex;
      background-attachment: fixed;
  
    }

    #about{
      font-size: small;
      height:max-content;
      display: flex;
      flex-direction:column ;
    }
    .about-left{
  width: 100%;
  text-align: justify;
    }

.about-right{
  width: 100%
}
}

